*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}

#header{
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

#piano-box{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}

ul li{
    display: flex;
}

ul{
    display: flex;
    list-style-type: none;
}



#middle{
    margin-right: 20px;
    margin-left: 20px;
}
.first-border{
    border-left: 1px solid rgba(32, 32, 32, 0.3);
}

.white{
    background-color:#fffff0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: -20px;
    border-right: 1px solid rgba(32, 32, 32, 0.3);
    border-top: 1px solid rgba(32, 32, 32, 0.2);
    border-bottom: 1px solid rgba(32, 32, 32, 0.2);
    border-radius: 0 0  6px 6px;
    height: 200px;
    width: 50px;
    box-shadow: 0 5px 1px rgb(32 32 32 / 20%);
     
}

.black{
    background-color: black;
    border-radius: 0 0  6px 6px;
    display: flex;
    align-items: flex-end;
    margin-left: -20px;
    justify-content: center;
    height: 130px;
    width: 40px;
    box-shadow: 0 5px 1px rgb(32 32 32 / 20%);
    position: relative;
    z-index: 10;
    

}



.black:active{
    box-shadow: none;
    top: 5px;
}

.white:active{
    background-color: rgba(32, 32, 32, 0.2);
    position: relative;
    top: 5px;
    box-shadow: none;
}

#button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    padding: 10px;
    margin: 15px;
    width: 150px;
    border-radius: 8px;
    border: solid 1px rgba(32, 32, 32, 0.2);
    background-color: white;
    box-shadow:  0 5px 1px rgb(32 32 32 / 20%);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    cursor: pointer;
}

button:active{
    background-color: rgba(32, 32, 32, 0.2);
    top: 5px;
    box-shadow: none;
}


